<br><br><br>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= render partial: 'mailbox/folder_view', locals: { is_conversation: true } %>

