<br>
<br>
<br>
<h3>Search results for "<%= params[:search] %>"</h3>
<div id='search_results'>
  <% if @posts.present? %>
    <%= render @posts %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>