<li id="post-<%= post.id%>">
  <div>
    <h2><%= link_to post.courseName + " " + post.courseCode, :controller => "posts", :action => :show, :post => post.id %></h2>
    <ul>
      <li>Posted <%= time_ago_in_words(post.created_at) %> ago.</li>
    </ul>
  </div>
</li>


